
/**
 * Periscope.io logo.
 */

.logo[data-logo="Periscope.io"] {
  width: 4.388980732374585em;
}

.logo[data-logo="Periscope.io"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Periscope.io"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Periscope.io"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}